.nav-bar {
  height: 8vh;
  padding-left: 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.main-scene {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.title {
  font-weight: bold;
}
.main-canvas {
  width: 80vw;
  background-color: black;
}
.info-board {
  width: 20vw;
  min-width: 400px;
  padding-left: 20px;
  background-color: white;
}
.custom-textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}
